{
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer", 
        "@semantic-release/release-notes-generator", 
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md"
        }],
        "@semantic-release/github",
        "@semantic-release/git",
        ["@semantic-release/exec", {
            "publishCmd": "curl -sL https://git.io/goreleaser | bash -s release"
        }]
    ]
}